
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(43, 217, 226);
}

.search-form {
position: sticky;
align-items: center;
justify-content: center;
display: flex;
background-color: cornflowerblue;
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
 
}
.submit {
    border: none;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: brown;
  
}
input{
  border:none;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    width: 300px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
/*Syle Buton Load more*/
.load-more{
        background-color: #4D5AE5;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        font-family:'Roboto',sans-serif;
        line-height: 1.5;
        letter-spacing: 0.64px;
        
        width: 100px;
        
        border: none;
        cursor: pointer;
        border-radius: 4px;
       
        transition: background-color ease 0.3s;
}
.load-more:hover {
  background-color: #25b605;
}
/* style la galerie*/
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  grid-gap: 20px;
  margin: 0 auto;
  padding: 20px;
}
.photo-card {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
/*style la imagini */
.photo-card img {
  
  width: 100%;
  height: 250px;
  object-fit: cover;
  

}
/* Style la Likes-View-Comments-Downloads -clasa definita prin JS*/
.info{
  display: flex;
 justify-content: space-around;
 padding: 10px;

}
.info-item {
display: block;
text-align: center;
font-weight: bold;
color: brown;
 font-family: "Josefin Sans", sans-serif;
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
 font-size: medium;
}
